<h1> Coffee Page </h1>
<form action = "/coffee_index" method = "POST">
    <% @coffees.each do |coffee| %>
        <br><input type = "checkbox" name = "covfefe_ids[]" id="<%= coffee.id %>" value="<%= coffee.id %>">
        <%= coffee.name %></input>
        <br><%= coffee.brand %>
        <br>$<%= coffee.price %>
    <% end %>
    <br>
    <input type="submit" value = "Add to Cart">
</form>

<br><a href= "/products">Back to Product Page </a>