<h1> Teas Page </h1>
<form action = "/products" method = "POST">
    <% @teas.each do |tea| %>
        <br><br><input type = "checkbox" name = "product_ids[]" id="<%= tea.id %>" value="<%= tea.id %>">
        <%= tea.name %></input>
        <br><%= tea.brand%>
        <br>$<%= tea.price %>
    <% end %>
    <br>
    <input type="submit" class = "button" value = "Add to Cart">
</form>

<br><a href= "/products">Back to Product Page </a>